<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105597937164-7pucs2g5301ir3lejg0mi2rlaq3tno3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105597937164-7pucs2g5301ir3lejg0mi2rlaq3tno3m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105597937164-bfu90a1sfkb91oagr6de1r7odgr0opqp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADT5MMSTxAMP0Gj16fHWuqs-ErCXaqYoc</string>
	<key>GCM_SENDER_ID</key>
	<string>105597937164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.step.bank.step</string>
	<key>PROJECT_ID</key>
	<string>step-bank-35e30</string>
	<key>STORAGE_BUCKET</key>
	<string>step-bank-35e30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105597937164:ios:ce91efb5b600c73db6b029</string>
</dict>
</plist>